body{
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-image: url("images/logo.png");
}

input[type=button]{ /*Changes a buttons font size*/
	font-size: 30px;
}

h1{ /*Changes an h1 tag's font size and alignment*/
	font-size: 25px;
	text-align: center;
}

h2{
	color: white;
	text-align: center;
	font-size: 30px;
}

p{
	color: #000000;
	font-size: 160%;
	text-align: center;
}

.inside-rectangle{ /*Div for the pictures*/
	height: 100%;
	width: calc(100%/3);
}

.center-content{
	display: flex;
	align-items: center;
	justify-content: center;
}


img:hover{ /*Makes the images pop out when hovered over*/
	cursor: default;
	transform: scale(1.05, 1.05);
}


.restrict-img-size{
	max-height: 80%;
	max-width: 80%;
}

.display{ /*Effectively removes the element from the page when it is called upon*/
	display: none;
}

.rectangle{
	display: flex;
	height: calc(100%/6);
	width: 100%;
}

.big-rectangle{
	display: flex;
	height: calc(100%/1.5);
	width: 100%;
}

.big-square{
	height: 100%;
	width: calc(100%/4);
}

.square{
	height: 100%;
	width: calc(100%/10);
}

.small-square{
	height: 100%;
	width: calc(100%/10.66666667);
}

.filler{
	height: 100%;
	width: calc(100%/5.3333333);
}

.small-rectangle{
	height: 100%;
	width: calc(100%/2.2857);
}

.small-rectangle1{
	height: 100%;
	width: calc(100%/2.2857);
	display: block;
}

.green{ /*Color Backgrounds so I can remove or add them to execute JavaScript functions*/
	background-color: #49AA43;
}

.black{
	background-color: #000000;
}

.hide{ /*Makes the visibility of whatever it is linked to hidden so people can't see it*/
	visibility: hidden;
}